@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Universal default code */
* {
    margin: 0;
    padding: 0;
    border: none;

}

/* Headings */
h1,
h2 {
    font-family: 'Indie Flower', cursive;
    color: black;

}

/* Body */
body {
    font-family: 'Indie Flower', cursive;

}

.main-heading {
    font-size: 100px;
    text-align: center;
    
}

.second-heading {
    margin-top: 10px;
    font-size: 80px;
    text-align: center;
}

/* Game section */

.rockpaperscissors {
    margin-top: 30px;
    padding-top: 2%;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    width: 100%;
    text-align: center;
    


}

.btn {
    width: 300px;
    background-color: beige;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;


}

.btn:hover {
    background-color: #967969;
}

/* Score area */

.score {
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    display: block;
  
}

/* rules area*/

.rulesarea {
    text-align: center;
    padding: 1%;
    background-color: #967969;
    margin-top: 50px;


}

.rulesarea h2 {
    font-size: 50px;

}

.rulesarea p {
    font-size: 40px;

}


/* Computer and player Wins webpages */


.winHeading {
    font-size: 180px;
    text-align: center;
    margin-bottom: 80px;
}

.winSecondHeading {
    font-size: 80px;
    text-align: center;
}

.winButton {
    width: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    background-color: beige;
    font-size: 100px;
    font-family: 'Indie Flower', cursive;

}

.winButton:hover {
    background-color: #967969;
}

/* 404 page */

.errorHeading {
    font-size: 200px;
    text-align: center;
}

.errorSecondHeading {
    margin-top: 30px;
    font-size: 80px;
    text-align: center;
}

.playButton {
    width: 200px;
    display: block;
    margin: 5px auto;
    margin-top: 10%;
    background-color: beige;
    font-size: 100px;
    font-family: 'Indie Flower', cursive;
}

.playButton:hover {
    background-color: #967969;
}


/* Media queries for Mobile */

@media (min-width: 320px) and (max-width: 768px) {

    /* Main site*/

    .main-heading {
        font-size: 60px;
    }
    
    .second-heading {
        font-size: 40px;
        margin: 0;
    }
    
    /* Game section */
    .rockpaperscissors {
        margin-top: 1px;
        padding-top: 1px;
    }
        
    
    .btn {
        font-size: 40px;
        display: block;
        margin: 5px auto;
        
        
    }
    .score {
        font-size: 35px;
    }

   
    /* rules area*/
    
    .rulesarea p {
        font-size: 20px;
    
    }


/* Player and computer wins webpages for mobile */

    .winHeading {
        font-size: 70px;
        margin-bottom: 50px;
    }
    
    .winSecondHeading {
        font-size: 40px;
        margin-bottom: 60px;
    }
    
    .winButton {
        width: 100%;
        margin: auto;
        font-size: 70px;
    }

    /* 404 page */

.errorHeading {
    font-size: 70px;
}

.errorSecondHeading {
    margin-top: 10%;
    font-size: 37px;
    text-align: center;
    margin-bottom: 60px;
}

.playButton {
    width: 100%;
    font-size: 80px;
}


}

/* media queries for tablet view */
@media (min-width: 768px) and (max-width: 1081px) {

    .second-heading {
        margin-top: 1px;
        font-size: 80px;
        text-align: center;
    }
   /* Game section */
   
   .rockpaperscissors {
    margin-top: 1px;
    padding-top: 1px;

}
    

.btn {
    font-size: 50px;
    display: block;
    margin: 10px auto;
    
}

 /* rules area*/


 .rulesarea p {
    font-size: 28px;

}
    

/* Computer and player Wins webpages */



.winButton {
    width: 100%;

}


    /* 404 page */

    
    .playButton {
        width: 100%;
    
    
  }
}
