@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Universal default code */
* {
    margin: 0;
    padding: 0;
    border: none;
}
/* Headings */
h1, h2 {
    font-family: 'Indie Flower', cursive;
    color: black;

}

/* Body */
body {
    font-family: 'Indie Flower', cursive;

}

.main-heading {
    font-size: 100px;
    text-align: center;
}

.second-heading {
    font-size: 80px;
    text-align: center;
}


.gameszone {
    height: 450px;
    width: 100%;
}

.movesleft {
    width: 20%;
    margin: 1%;
    padding: 1%;
    margin-left: 40%;
    text-align: center;
    font-size: 40px;
    border-style: solid;
    
}

.rockpaperscissors {
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    width: 100%;
    height: 100px;
    text-align: center;


}
.btn {
    width: 25%;
    height: 100%;
    background-color: beige;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;


}

.btn:hover{
    background-color: #967969;
}


.score {
    width: 20%;
    margin: 1%;
    padding: 1%;
    margin-left: 40%;
    font-size: 40px;
    text-align: center;
    border-style: solid;
}

.rulesarea {
    text-align: center;
    padding: 1%;
    

}

.rulesarea h2 {
    font-size: 50px;
    
}

.rulesarea p {
    font-size: 40px;
    
}


/* Computer and player Wins webpages */


.winHeading{
    font-size: 100px;
    text-align: center;
}

.winSecondHeading {
    font-size: 80px;
    text-align: center;
}

.winButton {
    width: 200px;
    height: 100%;
    margin-top: 10%;
    margin-left: 45%;
    background-color: beige;
    font-size: 100px;
    font-family: 'Indie Flower', cursive;
}

.winButton:hover{
    background-color: #967969;
}
